//_partial Skabelon

//VARIABLES

//Padding_______________________________________________
//Desktop padding
$padding-desktop: 100px;

//Tablet padding
$padding-tablet: 50px;

//Mobil padding
$padding-mobil: 10px;

//Top og bund padding
$padding-top: 50px;
$padding-bottom: 50px;

//Gap padding
$padding-gap: 50px;

//Farver_______________________________________________
$forside-baggrund: #FEFBF3;
$detalje-farve: #F9F2D7;
$omgivelser-baggrund: #D2DDC6;
$tekst-farve: #364626;


//MIXINS

@mixin cta ($background-color: #364626, $color: #FEFBF3) {
    background-color: $background-color;
    color: $color;
    padding: 10px 30px 10px 30px;
    max-width: fit-content;
    text-decoration: none;
    white-space: nowrap;
    border-radius: 10px;
}

//Padding______________________________________________
//Resonsiv padding
@mixin responsive-padding {
    padding-left: 100px;
    padding-right: 100px;

    @media screen and (max-width: 900px) {
        padding-left: 50px;
        padding-right: 50px;
    }

    @media screen and (max-width: 700px) {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@mixin responsive-padding-left {
    padding-left: 100px;

        @media screen and (max-width: 900px) {
            padding-left: 50px;
        }
        @media screen and (max-width: 700px) {
            padding-left: 10px;
        }
}

@mixin responsive-padding-right {
    padding-right: 100px;

        @media screen and (max-width: 900px) {
            padding-right: 50px;
        }
        @media screen and (max-width: 700px) {
            padding-right: 10px;
        }
}

//Responsiv padding med 0px mobil-padding 
@mixin responsive-padding-billede {
    padding-left: 100px;
    padding-right: 100px;

    @media screen and (max-width: 900px) {
        padding-left: 50px;
        padding-right: 50px;
    }

    @media screen and (max-width: 700px) {
        padding-left: 0px;
        padding-right: 0px;
    }
}

@mixin responsive-margin {
    margin-left: 100px;
    margin-right: 100px;

    @media screen and (max-width: 900px) {
        margin-left: 50px;
        margin-right: 50px;
    }

    @media screen and (max-width: 700px) {
        margin-left: 10px;
        margin-right: 10px;
    }
}

//Flex____________________________________________________
//flex-column, 50px-gap
@mixin flex-column($gap:50px, $flex-direction:column) {  
    display: flex;
    flex-direction: $flex-direction;
    gap: $gap;
}

//Grid____________________________________________________
//Grid med 2 columns
@mixin grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

// Mobil grid - 2 rows, 50px-gap
@mixin mobil-grid {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    gap: 50px;
}



