@use 'partial'; 
/* 
Kald på variabel: partial.$variabel-navn;
Kald på mixin: @include partial.mixin-navn;
*/ 


* { //Kalder på alt
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 18px; //Brug rem til at gøre andre skriftstørrelser relativ til den her
    font-family: 'Caladea', sans-serif;
}

//Fonts
@import url('https://fonts.cdnfonts.com/css/niagara-engraved'); //Logo
@import url('https://fonts.cdnfonts.com/css/caladea'); //Primær
@import url('https://fonts.cdnfonts.com/css/zapfino'); //About sektion

p {
    font-size: 1rem;
    color: partial.$tekst-farve;
}

h1 {
    font-size: 2rem;
    color: partial.$tekst-farve;
    word-break: break-word;
}

h2 {
    font-size: 1.5rem;
    color: partial.$tekst-farve;
    word-break: break-word;
}

h3 {
    font-size: 1.2rem;
    color: partial.$tekst-farve;
    word-break: break-word;
}

//Yderste grid til justering af max-width og padding - Skal være på alt yderst - Smid bg-farver på samme element
.ygrid {
    display: grid;
    grid-template-columns: 0 1fr 0;

        @media screen and (min-width: 1500px) {
            grid-template-columns: 1fr 1500px 1fr;
        }
}

//Smid den her class på alt indhold der skal ses inden i .ygrid
.content {
    grid-column: 2/3;
}

body {
    display: grid;
    grid-template-rows: 75px 1fr 100px;
    min-height: 100vh;
    background-color: partial.$forside-baggrund;

        header {
            background-color: partial.$forside-baggrund;
            grid-row: 1/2;

                #global-nav {
                    display: grid;
                    grid-template-columns: 1fr auto;
                    align-items: center;
                    @include partial.responsive-padding;

                        #logo {
                            grid-column: 1/2;
                            text-decoration: none;
                            justify-self: start;
                            display: flex;
                            flex-direction: row;
                            gap: 10px;
                            align-items: end;

                                h1 {
                                    font-family: 'Niagara Engraved', sans-serif;
                                    font-weight: normal;
                                    font-size: 2.5rem;
                                }
                                img {
                                    height: 4rem;
                                }
                        }

                        #header-nav {
                            grid-column: 2/3;
                            justify-self: end;
                            display: flex;
                            flex-direction: row;
                            gap: partial.$padding-gap;

                            @media screen and (max-width: 750px) {
                                display: none;
                            }
                            
                                a {
                                    font-size: 1rem;
                                    text-decoration: none;
                                    color: partial.$tekst-farve;
                                    transition: all 0.3s;

                                        &:hover {
                                            scale: 120%;
                                        }
                                }
                        }

                        #burger-menu {
                            display: none;
                            grid-column: 2/3;
                            justify-self: end;
                            align-self: center;
                            background: none;
                            border: none;
                            cursor: pointer;

                            @media screen and (max-width: 750px) {
                                display: block;
                            }

                                img {
                                    height: 1rem;
                                }
                        }

                        #burger-nav {
                            display: none;
                            flex-direction: column;
                            gap: 75px;
                            padding: 50px 20px 50px 20px;
                            background-color: partial.$tekst-farve;
                            z-index: 1;
                            position: absolute;
                            top: 80px;
                            right: 0;
                            width: 100%;
                            max-width: 300px;

                                a {
                                    text-decoration: none;
                                    color: partial.$forside-baggrund;
                                    font-size: 1.5rem;
                                }
                        }
                }
        }

        main {
            grid-row: 2/3;

                #hero {
                    display: flex;
                    flex-direction: column;
                    gap: 50px;

                    #hero-img-container {
                        height: 700px;
                        margin-left: 20px;
                        margin-right: 20px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        //overflow: hidden;
                        position: relative;

                        @media screen and (max-width: 750px) {
                            height: 400px;
                        }
                        @media screen and (max-width: 700px) {
                            margin-left: 10px;
                            margin-right: 10px;
                        }

                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                //position: absolute;
                            }
                            #hero-cta {
                                position: absolute;
                                bottom: 50px;
                                left: 0;
                                @include partial.responsive-padding;

                                    a {
                                        @include partial.cta;
                                    }
                            }
                    }

                    h2 {
                        @include partial.responsive-padding;
                        max-width: 900px;

                        @media screen and (max-width: 1000px) {
                            max-width: 800px;
                        }
                        @media screen and (max-width: 900px) {
                            max-width: 700px;
                        }
                        @media screen and (max-width: 800px) {
                            max-width: 600px;
                        }
                    }
                        
                }

                /*#fakta-blomst-section {
                    position: relative;

                    #fakta-box1-container {
                        margin: 50px 20px 50px 20px;
                        padding-top: 50px;
                        padding-bottom: 50px;
                        border-top: 1px solid black;
                        border-bottom: 1px solid black;
                        max-width: 75%;
                        @include partial.flex-column;

                        @media screen and (max-width: 700px) {
                            max-width: 50%;
                            margin: 50px 10px 50px 10px;
                        }
    
                            #fakta-box1 {
                                display: flex;
                                flex-direction: row;
                                gap: 50px;
                                justify-content: space-between;
                                @include partial.responsive-padding;

                                @media screen and (max-width: 700px) {
                                    flex-direction: column;
                                    gap: 50px;
                                }
                            }
                            a {
                                @include partial.responsive-padding;
                                color: partial.$tekst-farve;
                            }
                    }
                    #blomst-img {
                        position: absolute;
                        right: 20px;
                        top: -120px;
                        width: 20%;
                        max-width: 200px;

                        @media screen and (max-width: 700px) {
                            top: 30px;
                            right: 10px;
                            width: 30%;
                        }
                    }
                }

                #om-huset {
                    @include partial.responsive-padding;
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    gap: 50px;
                    max-width: 83%;

                    @media screen and (max-width:830px) {
                        max-width: 100%;
                    }
                    @media screen and (max-width:700px) {
                        max-width: 100%;
                        grid-template-columns: 1fr;
                    }

                        div:nth-of-type(1) {
                            grid-column: 1/2;
                            display: flex;
                            flex-direction: column;
                            gap: 20px;
                        }
                        div:nth-of-type(2) {
                            grid-column: 2/3;
                            display: flex;
                            flex-direction: column;
                            gap: 20px;

                            @media screen and (max-width:700px) {
                                grid-column: 1/2;
                            }
                        }
                }*/

                #om-section-container {
                    margin-top: 50px;
                    display: grid;
                    grid-template-rows: auto auto auto;
                    grid-template-columns: 2fr 2fr 1fr;
                    row-gap: 50px;

                    @media screen and (max-width: 700px) {
                        grid-template-columns: 2fr 1fr;
                    }
                    @media screen and (max-width: 400px) {
                        display: flex;
                        flex-direction: column;
                        gap: 0px;
                    }

                        #fakta-box1-container {
                            grid-row: 1/2;
                            grid-column: 1/3;
                            margin: 0px 20px 0px 20px;
                            padding-top: 50px;
                            padding-bottom: 50px;
                            border-top: 1px solid black;
                            border-bottom: 1px solid black;
                            @include partial.flex-column;

                            @media screen and (max-width: 700px) {
                                grid-column: 1/2;
                            }
                            @media screen and (max-width: 400px) {
                                margin-bottom: 50px;
                            }

                                #fakta-box1 {
                                    display: flex;
                                    flex-direction: row;
                                    gap: 50px;
                                    justify-content: space-between;
                                    @include partial.responsive-padding-left;
                                    padding-right: 20px;

                                    @media screen and (max-width: 700px) {
                                        flex-direction: column;
                                    }
                                }
                                a {
                                    @include partial.responsive-padding-left;
                                    color: partial.$tekst-farve;
                                    padding-right: 20px;
                                }
                        }

                        img {
                            grid-row: 1/4;
                            grid-column: 3/4;
                            width: 100%;
                            max-width: 200px;
                            //align-self: center;
                            justify-self: center;
                            padding-right: 20px;

                            @media screen and (max-width: 700px) {
                                grid-column: 2/3;
                            }
                            @media screen and (max-width: 450px) {
                                grid-row: 1/2;
                                align-self: center;
                            }
                            @media screen and (max-width: 400px) {
                                grid-column: 1/3;
                                margin-bottom: 50px;
                            }
                        }

                        #om-overskrift {
                            grid-row: 2/3;
                            grid-column: 1/3;
                            @include partial.responsive-padding;

                            @media screen and (max-width: 400px) {
                                margin-bottom: 20px;
                            }
                        }

                        #om-huset-tekst {
                            grid-row: 3/4;
                            grid-column: 1/3;
                            display: flex;
                            flex-direction: row;
                            gap: 50px;
                            @include partial.responsive-padding-left;
                            padding-right: 20px;
                            justify-content: space-between;

                            @media screen and (max-width: 750px) {
                                grid-column: 1/4;
                                @include partial.responsive-padding-right
                            }
                            @media screen and (max-width: 700px) {
                                flex-direction: column;
                                gap: 20px;
                            }

                            #om-huset-tekst-column1 {
                                flex: 1;
                                
                                    div {
                                        display: flex;
                                        flex-direction: column;
                                        gap: 20px;
                                    }
                            }
    
                            #om-huset-tekst-column2 {
                                flex: 1;
                                
                                    div {
                                        display: flex;
                                        flex-direction: column;
                                        gap: 20px;
                                    }
                            }
                            
                        }
                }

                #fakta-container {
                    display: grid;
                    grid-template-columns: 1fr 2fr;
                    margin-top: 50px;

                        #sæl-img {
                            grid-column: 1/2;
                            width: 100%;
                            align-self: center;
                            margin-top: 50px;
                        }

                        #fakta {
                            grid-column: 2/3;
                            border-top: solid 1px black;
                            border-bottom: solid 1px black;
                            padding-top: 50px;
                            padding-bottom: 50px;
                            margin-right: 20px;

                            @media screen and (max-width: 700px) {
                                margin-right: 10px;
                            }

                            #fakta-grid {
                                display: grid;
                                grid-template-columns: 1fr 1fr 1fr;
                                gap: 50px;
                                @include partial.responsive-padding;

                                #fakta1 {
                                    //font-family: 'Zapfino', sans-serif;
                                    grid-column: 1/2;
                                    display: flex;
                                    flex-direction: column;
                                    gap: 20px;
                                }
                                #fakta2 {
                                    //font-family: 'Zapfino', sans-serif;
                                    grid-column: 2/3;
                                    display: flex;
                                    flex-direction: column;
                                    gap: 20px;
                                }
                                #fakta3 {
                                    grid-column: 3/4;
                                    display: flex;
                                    flex-direction: column;
                                    gap: 20px;
                                }
                                .fakta-punkt {
                                    display: flex;
                                    flex-direction: row;
                                    gap: 25px;
        
                                        img {
                                            height: 2rem;
                                        }
                                        p {
                                            align-self: end;
                                            font-size: 1rem;
                                        }
                                }
                            }
                        }
                }
        }
        

        footer {
            grid-row: 3/4;
            background-color: black;
        }
}