@charset "UTF-8";
/* 
Kald på variabel: partial.$variabel-navn;
Kald på mixin: @include partial.mixin-navn;
*/
@import url("https://fonts.cdnfonts.com/css/niagara-engraved");
@import url("https://fonts.cdnfonts.com/css/caladea");
@import url("https://fonts.cdnfonts.com/css/zapfino");
* {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 18px;
  font-family: "Caladea", sans-serif;
}

p {
  font-size: 1rem;
  color: #364626;
}

h1 {
  font-size: 2rem;
  color: #364626;
  word-break: break-word;
}

h2 {
  font-size: 1.5rem;
  color: #364626;
  word-break: break-word;
}

h3 {
  font-size: 1.2rem;
  color: #364626;
  word-break: break-word;
}

.ygrid {
  display: grid;
  grid-template-columns: 0 1fr 0;
}
@media screen and (min-width: 1500px) {
  .ygrid {
    grid-template-columns: 1fr 1500px 1fr;
  }
}

.content {
  grid-column: 2/3;
}

body {
  display: grid;
  grid-template-rows: 75px 1fr 100px;
  min-height: 100vh;
  background-color: #FEFBF3;
}
body header {
  background-color: #FEFBF3;
  grid-row: 1/2;
}
body header #global-nav {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  padding-left: 100px;
  padding-right: 100px;
}
@media screen and (max-width: 900px) {
  body header #global-nav {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media screen and (max-width: 700px) {
  body header #global-nav {
    padding-left: 10px;
    padding-right: 10px;
  }
}
body header #global-nav #logo {
  grid-column: 1/2;
  text-decoration: none;
  justify-self: start;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: end;
}
body header #global-nav #logo h1 {
  font-family: "Niagara Engraved", sans-serif;
  font-weight: normal;
  font-size: 2.5rem;
}
body header #global-nav #logo img {
  height: 4rem;
}
body header #global-nav #header-nav {
  grid-column: 2/3;
  justify-self: end;
  display: flex;
  flex-direction: row;
  gap: 50px;
}
@media screen and (max-width: 750px) {
  body header #global-nav #header-nav {
    display: none;
  }
}
body header #global-nav #header-nav a {
  font-size: 1rem;
  text-decoration: none;
  color: #364626;
  transition: all 0.3s;
}
body header #global-nav #header-nav a:hover {
  scale: 120%;
}
body header #global-nav #burger-menu {
  display: none;
  grid-column: 2/3;
  justify-self: end;
  align-self: center;
  background: none;
  border: none;
  cursor: pointer;
}
@media screen and (max-width: 750px) {
  body header #global-nav #burger-menu {
    display: block;
  }
}
body header #global-nav #burger-menu img {
  height: 1rem;
}
body header #global-nav #burger-nav {
  display: none;
  flex-direction: column;
  gap: 75px;
  padding: 50px 20px 50px 20px;
  background-color: #364626;
  z-index: 1;
  position: absolute;
  top: 80px;
  right: 0;
  width: 100%;
  max-width: 300px;
}
body header #global-nav #burger-nav a {
  text-decoration: none;
  color: #FEFBF3;
  font-size: 1.5rem;
}
body main {
  grid-row: 2/3;
}
body main #hero {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
body main #hero #hero-img-container {
  height: 700px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
@media screen and (max-width: 750px) {
  body main #hero #hero-img-container {
    height: 400px;
  }
}
@media screen and (max-width: 700px) {
  body main #hero #hero-img-container {
    margin-left: 10px;
    margin-right: 10px;
  }
}
body main #hero #hero-img-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body main #hero #hero-img-container #hero-cta {
  position: absolute;
  bottom: 50px;
  left: 0;
  padding-left: 100px;
  padding-right: 100px;
}
@media screen and (max-width: 900px) {
  body main #hero #hero-img-container #hero-cta {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media screen and (max-width: 700px) {
  body main #hero #hero-img-container #hero-cta {
    padding-left: 10px;
    padding-right: 10px;
  }
}
body main #hero #hero-img-container #hero-cta a {
  background-color: #F9F2D7;
  color: #364626;
  padding: 10px 30px 10px 30px;
  max-width: -moz-fit-content;
  max-width: fit-content;
  text-decoration: none;
  white-space: nowrap;
  border-radius: 10px;
}
body main #hero h2 {
  padding-left: 100px;
  padding-right: 100px;
  max-width: 900px;
}
@media screen and (max-width: 900px) {
  body main #hero h2 {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media screen and (max-width: 700px) {
  body main #hero h2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media screen and (max-width: 1000px) {
  body main #hero h2 {
    max-width: 800px;
  }
}
@media screen and (max-width: 900px) {
  body main #hero h2 {
    max-width: 700px;
  }
}
@media screen and (max-width: 800px) {
  body main #hero h2 {
    max-width: 600px;
  }
}
body main #fakta-kontakt {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 50px;
  margin-left: 100px;
  margin-right: 100px;
}
@media screen and (max-width: 900px) {
  body main #fakta-kontakt {
    margin-left: 50px;
    margin-right: 50px;
  }
}
@media screen and (max-width: 700px) {
  body main #fakta-kontakt {
    margin-left: 10px;
    margin-right: 10px;
  }
}
@media screen and (max-width: 780px) {
  body main #fakta-kontakt {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    gap: 0;
  }
}
body main #fakta-kontakt #fakta-box-1-container {
  grid-column: 1/3;
  grid-row: 1/2;
}
@media screen and (max-width: 780px) {
  body main #fakta-kontakt #fakta-box-1-container {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}
body main #fakta-kontakt #fakta-box-1-container #fakta-box-1 {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-top: 50px;
  border-top: solid 1px black;
  border-bottom: solid 1px black;
  padding-top: 50px;
  padding-bottom: 50px;
  width: calc(100% - 400px - 100px);
}
@media screen and (max-width: 780px) {
  body main #fakta-kontakt #fakta-box-1-container #fakta-box-1 {
    width: 100%;
  }
}
body main #fakta-kontakt #fakta-box-1-container #fakta-box-1 #fakta-list {
  display: flex;
  flex-direction: row;
  gap: 50px;
  justify-content: space-between;
  padding: 0 25px 0 25px;
}
@media screen and (max-width: 1140px) {
  body main #fakta-kontakt #fakta-box-1-container #fakta-box-1 #fakta-list {
    flex-direction: column;
  }
}
@media screen and (max-width: 780px) {
  body main #fakta-kontakt #fakta-box-1-container #fakta-box-1 #fakta-list {
    flex-direction: row;
  }
}
@media screen and (max-width: 500px) {
  body main #fakta-kontakt #fakta-box-1-container #fakta-box-1 #fakta-list {
    flex-direction: column;
  }
}
body main #fakta-kontakt #fakta-box-1-container #fakta-box-1 a {
  color: black;
  padding: 0 25px 0 25px;
}
body main #fakta-kontakt #kontakt-info-container {
  grid-column: 1/3;
  grid-row: 1/3;
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}
@media screen and (max-width: 1140px) {
  body main #fakta-kontakt #kontakt-info-container {
    grid-column: 2/3;
    grid-row: 1/2;
  }
}
@media screen and (max-width: 780px) {
  body main #fakta-kontakt #kontakt-info-container {
    grid-column: 1/2;
    grid-row: 2/3;
    margin: 50px 0 50px 0;
  }
}
body main #fakta-kontakt #kontakt-info-container #kontakt-info {
  background-color: #F9F2D7;
  width: 400px;
  padding: 25px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  right: 0;
  top: 50px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  position: absolute;
}
@media screen and (max-width: 780px) {
  body main #fakta-kontakt #kontakt-info-container #kontakt-info {
    position: initial;
  }
}
@media screen and (max-width: 420px) {
  body main #fakta-kontakt #kontakt-info-container #kontakt-info {
    width: 100%;
  }
}
body main #fakta-kontakt #kontakt-info-container #kontakt-info .cta {
  background-color: #364626;
  color: #FEFBF3;
  padding: 10px 30px 10px 30px;
  max-width: -moz-fit-content;
  max-width: fit-content;
  text-decoration: none;
  white-space: nowrap;
  border-radius: 10px;
}
body main #fakta-kontakt #om-huset-tekst-column1 {
  grid-column: 1/2;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
@media screen and (max-width: 780px) {
  body main #fakta-kontakt #om-huset-tekst-column1 {
    grid-column: 1/2;
    grid-row: 3/4;
  }
}
body main #fakta-kontakt #om-huset-tekst-column2 {
  grid-column: 2/4;
  grid-row: 2/3;
  margin-top: 175px;
}
@media screen and (max-width: 1140px) {
  body main #fakta-kontakt #om-huset-tekst-column2 {
    grid-column: 2/3;
    margin-top: 75px;
  }
}
@media screen and (max-width: 780px) {
  body main #fakta-kontakt #om-huset-tekst-column2 {
    grid-column: 1/2;
    grid-row: 4/5;
    margin-top: 0;
  }
}
body main #fakta-kontakt .om-brodtekst {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
body main #fakta2-container {
  margin-top: 50px;
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
@media screen and (max-width: 900px) {
  body main #fakta2-container {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media screen and (max-width: 700px) {
  body main #fakta2-container {
    padding-left: 10px;
    padding-right: 10px;
  }
}
body main #fakta2-container #fakta {
  border-top: solid 1px black;
  border-bottom: solid 1px black;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-right: 20px;
}
body main #fakta2-container #fakta #fakta-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
}
@media screen and (max-width: 900px) {
  body main #fakta2-container #fakta #fakta-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
  }
}
@media screen and (max-width: 500px) {
  body main #fakta2-container #fakta #fakta-grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
  }
}
body main #fakta2-container #fakta #fakta-grid #fakta1 {
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media screen and (max-width: 900px) {
  body main #fakta2-container #fakta #fakta-grid #fakta1 {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}
body main #fakta2-container #fakta #fakta-grid #fakta2 {
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media screen and (max-width: 900px) {
  body main #fakta2-container #fakta #fakta-grid #fakta2 {
    grid-column: 2/3;
    grid-row: 1/2;
  }
}
@media screen and (max-width: 500px) {
  body main #fakta2-container #fakta #fakta-grid #fakta2 {
    grid-column: 1/2;
    grid-row: 2/3;
  }
}
body main #fakta2-container #fakta #fakta-grid #fakta3 {
  grid-column: 3/4;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media screen and (max-width: 900px) {
  body main #fakta2-container #fakta #fakta-grid #fakta3 {
    grid-column: 1/2;
    grid-row: 2/3;
  }
}
@media screen and (max-width: 500px) {
  body main #fakta2-container #fakta #fakta-grid #fakta3 {
    grid-row: 3/4;
  }
}
body main #fakta2-container .cta {
  background-color: #364626;
  color: #FEFBF3;
  padding: 10px 30px 10px 30px;
  max-width: -moz-fit-content;
  max-width: fit-content;
  text-decoration: none;
  white-space: nowrap;
  border-radius: 10px;
  align-self: center;
}
body main #solnedgang-section {
  margin-top: 50px;
  margin-bottom: 50px;
}
body main #solnedgang-section #solnedgang-img-container {
  margin-left: 20px;
  margin-right: 20px;
}
body main #solnedgang-section #solnedgang-img-container img {
  width: 100%;
}
body footer {
  grid-row: 3/4;
  background-color: black;
}/*# sourceMappingURL=style.css.map */