@use 'partial'; 
/* 
Kald på variabel: partial.$variabel-navn;
Kald på mixin: @include partial.mixin-navn;
*/ 


* { //Kalder på alt
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 18px; //Brug rem til at gøre andre skriftstørrelser relativ til den her
    font-family: 'Caladea', sans-serif;
    scroll-behavior: smooth;
}

//Fonts
@import url('https://fonts.cdnfonts.com/css/niagara-engraved'); //Logo
@import url('https://fonts.cdnfonts.com/css/caladea'); //Primær
@import url('https://fonts.cdnfonts.com/css/zapfino'); //About sektion

p {
    font-size: 1rem;
    color: partial.$tekst-farve;
}

h1 {
    font-size: 2rem;
    color: partial.$tekst-farve;
    word-break: break-word;
}

h2 {
    font-size: 1.5rem;
    color: partial.$tekst-farve;
    word-break: break-word;
}

h3 {
    font-size: 1.2rem;
    color: partial.$tekst-farve;
    word-break: break-word;
}

//Yderste grid til justering af max-width og padding - Skal være på alt yderst - Smid bg-farver på samme element
.ygrid {
    display: grid;
    grid-template-columns: 0 1fr 0;

        @media screen and (min-width: 1500px) {
            grid-template-columns: 1fr 1500px 1fr;
        }
}

//Smid den her class på alt indhold der skal ses inden i .ygrid
.content {
    grid-column: 2/3;
}

body {
    display: grid;
    grid-template-rows: 80px 1fr 100px;
    min-height: 100vh;
    background-color: partial.$forside-baggrund;

        header {
            background-color: partial.$forside-baggrund;
            grid-row: 1/2;

                #global-nav {
                    display: grid;
                    grid-template-columns: 1fr auto;
                    align-items: center;
                    @include partial.responsive-padding;

                        #logo {
                            grid-column: 1/2;
                            text-decoration: none;
                            justify-self: start;
                            display: flex;
                            flex-direction: row;
                            gap: 10px;
                            align-items: end;

                                h1 {
                                    font-family: 'Niagara Engraved', sans-serif;
                                    font-weight: normal;
                                    font-size: 2.5rem;
                                }
                                img {
                                    height: 4rem;
                                }
                        }

                        #header-nav {
                            grid-column: 2/3;
                            justify-self: end;
                            display: flex;
                            flex-direction: row;
                            gap: partial.$padding-gap;

                            @media screen and (max-width: 750px) {
                                display: none;
                            }
                            
                                a {
                                    font-size: 1rem;
                                    text-decoration: none;
                                    color: partial.$tekst-farve;
                                    transition: all 0.3s;

                                        &:hover {
                                            scale: 105%;
                                        }
                                }
                        }

                        #burger-menu {
                            display: none;
                            grid-column: 2/3;
                            justify-self: end;
                            align-self: center;
                            background: none;
                            border: none;
                            cursor: pointer;

                            @media screen and (max-width: 750px) {
                                display: block;
                            }

                                img {
                                    height: 3em;
                                }
                        }

                        #burger-nav {
                            display: none;
                            flex-direction: column;
                            gap: 75px;
                            padding: 50px 20px 50px 20px;
                            background-color: partial.$tekst-farve;
                            z-index: 1;
                            position: absolute;
                            top: 80px;
                            right: 0;
                            width: 100%;
                            max-width: 300px;

                                a {
                                    text-decoration: none;
                                    color: partial.$forside-baggrund;
                                    font-size: 1.5rem;
                                }
                        }
                }
        }

        main {
            grid-row: 2/3;

                #hero {
                    position: relative;

                    #hero-container {
                        max-height: 650px;
                        min-height: 400px;
                        margin-left: 25px;
                        margin-right: 25px;
                        //position: relative;
                        display: grid;
                        grid-template-columns: 2fr 1fr 1fr;
                        grid-template-rows: 3fr 2fr;
                        gap: 15px;

                        @media screen and (max-width: 700px) {
                            margin-left: 10px;
                            margin-right: 10px;
                            grid-template-columns: 1fr;
                            grid-template-rows: 1fr;
                        }

                            .hero-img-container {
                                overflow: hidden;
                                //position: relative;
                            }
                            .hero-img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                transition: all 0.3s;
                                cursor: pointer;
                                
                                    &:hover {
                                        scale: 101.5%;
                                    }
                            }
                            #hero-img1 {
                                grid-column: 1/2;
                                grid-row: 1/2;
                            }
                            #hero-img2 {
                                grid-column: 1/2;
                                grid-row: 2/3;

                                @media screen and (max-width: 700px) {
                                    display: none;
                                }
                            }
                            #hero-img3 {
                                grid-column: 2/3;
                                grid-row: 1/3;

                                @media screen and (max-width: 700px) {
                                    display: none;
                                }
                            }
                            #hero-img4 {
                                grid-column: 3/4;
                                grid-row: 1/3;

                                @media screen and (max-width: 700px) {
                                    display: none;
                                }
                            }
                            #hero-cta {
                                position: absolute;
                                bottom: 50px;
                                left: 10px;
                                @include partial.responsive-padding;

                                    a {
                                        @include partial.cta($background-color: partial.$forside-baggrund, $color: partial.$tekst-farve);
                                        transition: all 0.3s;

                                            &:hover {
                                                color: partial.$detalje-farve;
                                                background-color: partial.$tekst-farve;
                                            }
                                    }
                            }
                    }
                        
                }

                #fakta-kontakt {
                    display: grid;
                    grid-template-columns: 1fr 400px;
                    grid-template-rows: auto auto auto;
                    column-gap: 100px;
                    margin-top: 50px;
                    @include partial.responsive-margin;

                    @media screen and (max-width: 1200px) {
                        grid-template-columns: 1fr 1fr;
                    }
                    @media screen and (max-width: 780px) {
                        grid-template-columns: 1fr;
                        grid-template-rows: auto auto auto auto;
                        gap: 0;
                    }

                        h2 {
                            grid-column: 1/2;
                            grid-row: 1/2;
                        }
                    
                        #fakta-box-1-container {
                            grid-column: 1/2;
                            grid-row: 2/3;

                            #fakta-box-1 {
                                @include partial.flex-column;
                                //margin-top: 25px;
                                //border-top: solid 1px black;
                                //border-bottom: solid 1px black;
                                padding-top: 50px;
                                padding-bottom: 50px;
                                width: 100%;
                                //width: calc(100% - 400px - 100px);

                                /*@media screen and (max-width: 780px) {
                                    width: 100%;
                                }*/
        
                                    #fakta-list {
                                        display: flex;
                                        flex-direction: row;
                                        gap: 25px;
                                        justify-content: space-between;
                                        //padding: 0 25px 0 25px;

                                        @media screen and (max-width: 1300px) {
                                            flex-direction: column;
                                        }
                                        @media screen and (max-width: 780px) {
                                            flex-direction: row;
                                        }
                                        @media screen and (max-width: 600px) {
                                            flex-direction: column;
                                        }

                                            .fakta-list-punkt {
                                                display: flex;
                                                flex-direction: column;
                                                gap: 10px;
                                                align-items: center;

                                                @media screen and (max-width: 1300px) {
                                                    flex-direction: row;
                                                }
                                                @media screen and (max-width: 780px) {
                                                    flex-direction: column;
                                                }
                                                @media screen and (max-width: 600px) {
                                                    flex-direction: row;
                                                }

                                                    img {
                                                        height: 2em;
                                                        align-self: center;
                                                    }
                                                    .vis-kort {
                                                        cursor: pointer;
                                                        font-size: 0.8em;
                                                        color: grey;
                                                        text-decoration: underline;
                                                    }
                                                    #google-map {
                                                        position: fixed;
                                                        z-index: 11;
                                                        top: 50%;
                                                        left: 50%;
                                                        width: 90%;
                                                        transform: translate(-50%, -50%);

                                                        p {
                                                            position: absolute;
                                                            top: 5px;
                                                            right: 10px;
                                                            color: black;
                                                            text-decoration: underline;
                                                            cursor: pointer;
                                                        }
                                                    }
                                            }
                                    }
                                    a {
                                        color: partial.$tekst-farve;
                                        z-index: 1;
                                    }
                            }
                        }

                        #kontakt-info-container {
                            grid-column: 2/3;
                            grid-row: 1/4;
                            width: 100%;
                            display: flex;
                            justify-content: center;
                            //position: relative;

                            @media screen and (max-width: 780px) {
                                grid-column: 1/2;
                                grid-row: 3/4;
                                margin-bottom: 50px;
                            }

                                #kontakt-info {
                                    background-color: white;
                                    margin-top: 0px;
                                    height: fit-content;
                                    padding: 25px;
                                    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
                                    right: 0;
                                    top: 50px;
                                    display: flex;
                                    flex-direction: column;
                                    gap: 50px;
                                    position: sticky;

                                    @media screen and (max-width: 420px) {
                                        width: 100%;
                                    }

                                        h3 {
                                            //align-self: center;
                                        }

                                        #kontakt-box-text {
                                            display: flex;
                                            flex-direction: column;
                                            gap: 25px;

                                                .kontakt-box-text-punkt {
                                                    display: flex;
                                                    flex-direction: row;
                                                    gap: 25px;

                                                        img {
                                                            height: 2em;
                                                        }
                                                }
                                        }

                                        .cta {
                                            @include partial.cta($background-color: partial.$tekst-farve, $color: partial.$forside-baggrund,);
                                            transition: all 0.3s;
                                            //align-self: center;

                                                &:hover {
                                                    scale: 105%;
                                                }
                                        }
                                }

                        }
            
                        #om-huset-tekst-column1 {
                            grid-column: 1/2;
                            grid-row: 3/4;
                            display: flex;
                            flex-direction: column;
                            gap: 25px;
                            padding-top: 50px;
                            padding-bottom: 50px;
                            border-bottom: solid 1px partial.$tekst-farve;

                            @media screen and (max-width: 780px) {
                                grid-column: 1/2;
                                grid-row: 4/5;
                            }
                        }

                        .om-brodtekst {
                            display: flex;
                            flex-direction: column;
                            gap: 1em;

                                .sløret-text {
                                    opacity: 70%;
                                    transition: all 1s;
                                }

                                .gemt-text {
                                    //display: none;
                                    max-height: 0;
                                    overflow: hidden;
                                    transition: all 1s;
                                }
                                .gemt-text.show {
                                    max-height: 100%;
                                }

                                .vis-om-text-knap {
                                    margin-top: 15px;
                                    cursor: pointer;
                                    display: flex;
                                    flex-direction: row;
                                    gap: 5px;
                                    align-items: center;

                                        img {
                                            height: 1.5em;
                                        }
                                        p {
                                            text-decoration: underline;
                                            color: black;
                                        }
                                }
                        }
                        .bg-green {
                            background-color: partial.$detalje-farve;
                            grid-column: 1/3;
                            grid-row: 3/4;
                            z-index: -1;
                            width: 100vw;
                            position: relative;
                            margin-left: calc(-50vw + 50%);

                            @media screen and (max-width: 780px) {
                                grid-column: 1/2;
                                grid-row: 4/5;
                            }
                        }
                }

                #forside-galleri-container {
                    display: grid;
                    grid-template-columns: auto auto auto auto;
                    grid-template-rows: auto auto auto auto;
                    gap: 15px;
                    max-height: 2000px;
                    @include partial.responsive-margin;
                    //max-height: 2000px;
                    margin-top: 50px;

                        .forside-galleri-img-container {
                            overflow: hidden;
                            
                                img {
                                    object-fit: cover;
                                    height: 100%;
                                    width: 100%;
                                    transition: all 0.3s;

                                        &:hover {
                                            scale: 101.5%;
                                        }
                                }
                        }

                        #forside-galleri-img1 {
                            grid-column: 1/3;
                            grid-row: 1/2;
                        }
                        #forside-galleri-img2 {
                            grid-column: 1/3;
                            grid-row: 2/3;

                                img {
                                    object-position: bottom;
                                }
                        }
                        #forside-galleri-img3 {
                            grid-column: 3/5;
                            grid-row: 1/3;
                        }
                        #forside-galleri-img4 {
                            grid-column: 1/4;
                            grid-row: 3/4;

                                img {
                                    object-position: bottom;
                                }
                        }
                        #forside-galleri-img5 {
                            grid-column: 4/5;
                            grid-row: 3/4;
                        }
                        #forside-galleri-img6 {
                            grid-column: 1/2;
                            grid-row: 4/5;

                                img {
                                    object-position: right;
                                }
                        }
                        #forside-galleri-img7 {
                            grid-column: 2/5;
                            grid-row: 4/5;
                        }
                }



                #fakta2-container {
                    //margin-top: 50px;
                    @include partial.responsive-padding;
                    display: flex;
                    flex-direction: column;
                    gap: 50px;

                        #fakta-box2 {
                            //border-top: solid 1px black;
                            //border-bottom: solid 1px black;
                            padding-top: 50px;
                            //padding-bottom: 50px;
                            //margin-right: 20px;

                            #fakta-grid {
                                display: grid;
                                grid-template-columns: 1fr 1fr 1fr;
                                grid-template-rows: auto;
                                gap: 50px;
                                position: relative;
                                padding-top: 50px;
                                padding-bottom: 50px;

                                @media screen and (max-width: 900px) {
                                    grid-template-columns: 1fr 1fr;
                                    grid-template-rows: auto auto;
                                }
                                @media screen and (max-width: 500px) {
                                    grid-template-columns: 1fr;
                                    grid-template-rows: auto auto auto;
                                }

                                    .fakta2-punkt {
                                        display: flex;
                                        flex-direction: row;
                                        gap: 10px;
                                        align-items: center;

                                            img {
                                                height: 1em;
                                            }
                                    }

                                    .vis-kort {
                                        cursor: pointer;
                                        font-size: 0.8em;
                                        color: grey;
                                        text-decoration: underline;
                                    }

                                    #fakta1 {
                                        grid-column: 1/2;
                                        display: flex;
                                        flex-direction: column;
                                        gap: 25px;

                                        @media screen and (max-width: 900px) {
                                            grid-column: 1/2;
                                            grid-row: 1/2;
                                        }
                                    }
                                    #fakta2 {
                                        grid-column: 2/3;
                                        display: flex;
                                        flex-direction: column;
                                        gap: 25px;

                                        @media screen and (max-width: 900px) {
                                            grid-column: 2/3;
                                            grid-row: 1/2;
                                        }
                                        @media screen and (max-width: 500px) {
                                            grid-column: 1/2;
                                            grid-row: 2/3;
                                        }
                                    }
                                    #fakta3 {
                                        grid-column: 3/4;
                                        display: flex;
                                        flex-direction: column;
                                        gap: 25px;

                                        @media screen and (max-width: 900px) {
                                            grid-column: 1/2;
                                            grid-row: 2/3;
                                        }
                                        @media screen and (max-width: 500px) {
                                            grid-row: 3/4;
                                        }
                                    }

                                    //Baggrundsfarve til grid
                                    .bg-beige {
                                        background-color: partial.$detalje-farve;
                                        z-index: -1;
                                        width: 100vw;
                                        position: absolute;
                                        top: 0;
                                        left: 0;
                                        right: 0;
                                        bottom: 0;
                                        margin-left: calc(-50vw + 50%);
                                    }
                            }
                        }

                        .cta {
                            @include partial.cta($background-color: partial.$tekst-farve, $color: partial.$forside-baggrund);
                            align-self: center;
                            transition: all 0.3s;

                                &:hover {
                                    scale: 105%;
                                }
                        }

                }

                #solnedgang-section {
                    margin-top: 50px;
                    margin-bottom: 50px;

                        #solnedgang-img-container {
                            margin-left: 20px;
                            margin-right: 20px;

                                img {
                                    width: 100%;
                                }
                        }
                }

                //BOOKING SIDE
                #form-section {
                    display: grid;
                    grid-template-columns: 2fr 1fr;
                    grid-template-rows: auto auto;
                    column-gap: 100px;
                    row-gap: 50px;
                    @include partial.responsive-padding;

                    @media screen and (max-width: 1100px) {
                        grid-template-columns: 3fr 2fr;
                    }
                    @media screen and (max-width: 930px) {
                        grid-template-columns: 1fr;
                        grid-template-rows: auto auto auto;
                    }

                    #booking-side-tekst {
                        grid-column: 1/2;
                        grid-row: 1/2;
                        display: flex;
                        flex-direction: column;
                        gap: 25px;
                        padding-top: 50px;
                        padding-bottom: 50px;
                    }

                    #booking-side-tekst-bg {
                        background-color: partial.$detalje-farve;
                        grid-column: 1/3;
                        grid-row: 1/2;
                        z-index: -1;
                        position: relative;
                        width: 100vw;
                        margin-left: calc(-50vw + 50%);

                        @media screen and (max-width: 930px) {
                            grid-column: 1/2;
                            grid-row: 1/2;
                        }
                    }

                    form {
                        grid-column: 1/2;
                        grid-row: 2/3;
                        display: flex;
                        flex-direction: column;
                        gap: 25px;
                        width: 100%;
                        //max-width: 600px;

                        @media screen and (max-width: 930px) {
                            grid-column: 1/2;
                            grid-row: 3/4;
                        }
    
                            label {
                                display: flex;
                                flex-direction: column;
                                gap: 5px;
                            }
                            input {
                                min-height: 3em;
                            }
                            button {
                                max-width: fit-content;
                                @include partial.cta;
                                font-size: 1rem;
                                cursor: pointer;
                                border: 0;
                                font-family: 'Caladea', sans-serif;
                                transition: all 0.3s;

                                    &:hover {
                                        scale: 105%;
                                    }
                            }
                            #message {
                                min-height: 100px;
                            }
                            #dato-container {
                                display: flex;
                                flex-direction: row;
                                gap: 25px;
                                width: 100%;

                                    label {
                                        flex: 1;
                                    }
                            }
                            #antal-gæster {
                                max-width: 50px;
                            }
                    }

                    #booking-info-boks-container {
                        grid-column: 2/3;
                        grid-row: 1/3;
                        margin-top: 50px;

                        @media screen and (max-width: 930px) {
                            grid-column: 1/2;
                            grid-row: 2/3;
                            margin-top: 0;
                        }

                            #booking-info-boks {
                                background-color: white;
                                height: fit-content;
                                display: flex;
                                flex-direction: column;
                                gap: 50px;
                                position: sticky;
                                top: 50px;


                                    #booking-info-boks-img-container {
                                        width: 100%;
                                        height: 200px;

                                            img {
                                                object-fit: cover;
                                                height: 100%;
                                                width: 100%;
                                            }
                                    }
                                    
                                    #booking-info-boks-text {
                                        display: flex;
                                        flex-direction: column;
                                        gap: 25px;
                                        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
                                        padding: 0 25px 25px 25px;

                                        h2 {
                                            padding-bottom: 25px;
                                            border-bottom: 1px grey solid;
                                        }

                                            .kontakt-box-text-punkt {
                                                display: flex;
                                                flex-direction: row;
                                                gap: 25px;

                                                    img {
                                                        height: 2em;
                                                    }
                                            }
                                    }    
                            }    
                    }
                }


        } //Main slut

        

        footer {
            grid-row: 3/4;
            background-color: black;
        }
}